<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-81213477-7"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-81213477-7');
  </script>
  <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
  <title>ScratchExts: A directory of ALL extensions on scratch.</title>
</head>
<body>
  <nav>
    <div class="nav" id="nav">
      <a href="https://scratchexts.github.io/" style="float:left;">ScratchExts</a>
      <a href="new">New Extension</a>
      <a href="contact">Contact</a>
      <a href="about">About</a>
    </div>
  </nav>
  <main>
    <h1>About</h1>
    <p>In 2017, <a href="https://scratch.mit.edu/" title="Scratch's homepage">Scratch</a>, a project by MIT, <a href="https://scratch.mit.edu/discuss/topic/284272/" title="Forum thread">banned</a> referencing user generated extensions publically on the site; for the protection of the users. This was quite a controversial decision, some people liking it; and others hating it.</p>
    <p>Since extensions cannot be advertised, we've decided to create a central resource for them, here. All extensions are reviewed by our team to ensure that they won't take over your account. We will also start to add labels explaining what data is collected.</p>
    <p>Additionally, all extensions will be reviewed by the stores that host them.</p>
    <p>If you've made an extension, please provide us with clear code that has not been minified. We encourage you to use a free (as in speech) licence for your software.</p>
  </main>
</body>
</html>
