@import url("https://fonts.googleapis.com/css?family=Open Sans");

body {
 font-family: "Open Sans"; 
}

.nav {
    background: #13ABE3; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-120deg, #1981bc, #2F8DC2); /* Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-120deg, #1981bc, #2F8DC2); /* For Opera 11.6 to 12.0 */
    background: -moz-linear-gradient(-120deg, #1981bc, #2F8DC2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-120deg, #1981bc, #2F8DC2); /* Standard syntax */
    overflow: hidden;
    transition: all 1s ease;
    transition: all 1s ease-out;
}

.nav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    background-color: #0073b5;
    color: whtie;
    transition: all 1s ease;
}

.list-item-title {
    background-color:	#333434;
    width: 70%;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

.list-item-icon {
    width: 20%;
    height: 20%;
}

.list-item-desc {
    width: 50%;
    height: 20%;
    background-color: #0073b5;
    display: inline;
}
