@import url("https://fonts.googleapis.com/css?family=Open Sans");

body {
    font-family: "Open Sans"; 
    background: url("https://vutondesign.com/host/all/scratchexts/dust_scratches.png");
    overflow-y: scroll;
    overflow-x: hidden;
}

.nav {
    background: #13ABE3; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-120deg, #1981bc, #2F8DC2); /* Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-120deg, #1981bc, #2F8DC2); /* For Opera 11.6 to 12.0 */
    background: -moz-linear-gradient(-120deg, #1981bc, #2F8DC2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-120deg, #1981bc, #2F8DC2); /* Standard syntax */
    overflow: hidden;
    transition: all 1s ease;
    transition: all 1s ease-out;
}

.nav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    background-color: #0073b5;
    color: whtie;
    transition: all 1s ease;
}

.list-item-title {
    background-color:	#333434;
    width: 700px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

.list-item-icon {
    width: 196px;
    height: 200px;
    background-color: white;
    display: inline-block;
    margin: 8px 2px;
}

.list-item-desc {
    width: 496px;
    height: 200px;
    background-color:	#00a3c7;
    display: inline-block;
    vertical-align: top;
    margin: 8px 2px;
    color: white;
    font-size: 13px;
    overflow-y: scroll;
}

hr {
    border: none;
    border-bottom: 1px solid white;
    width: 400px;
}

/* Credit to http://csstricks.com for the scrollbar CSS */

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(177, 166, 166, 0.2);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}

.button { 
	text-decoration: none;
	margin: 3px;
	background: #13ABE3; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(-120deg, #1981bc, #2F8DC2); /* Safari 5.1 to 6.0 */
	background: -o-linear-gradient(-120deg, #1981bc, #2F8DC2); /* For Opera 11.6 to 12.0 */
	background: -moz-linear-gradient(-120deg, #1981bc, #2F8DC2); /* For Firefox 3.6 to 15 */
	background: linear-gradient(-120deg, #1981bc, #2F8DC2); /* Standard syntax */
	overflow: hidden;
	transition: all 1s ease;
	color: white;
	text-align:center;
	padding: 20px 50px;
	width: 150px;
}

.button:hover {
    background-color: #0073b5;
    color: whtie;
    transition: all 1s ease;
}

nav a, .download a { 
	color: white;
	text-decoration: none;
}
a {
	color: black;
	text-decoration: underline;
}

.list-item {
	margin-bottom: 10px;
}
